@media all and (min-width: 480px) {
    .Login {
      display: flex;
      justify-content: center
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 290px;
      
    }
.Login button {
  padding: 20
}
    
  }

  